@{
    int i = 2;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy. @ViewData["ga"] @i</p>

<address>
    <strong>more information: </strong><a target="_blank" href="https://www.google.com/">daiane@gmail.com</a>
</address>

